.div-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    border: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
    margin-top: 1rem;
  }

  input:invalid {
    border: 2px solid red;
  }

  input:invalid + .mensaje-error {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  input:valid + .mensaje-error {
    display: none;
  }



.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-size: 14px;
    display: none;  
}

.usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.usuario div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.usuario div div {
    display: flex;
    flex-direction: row;
}

.datos-personales {
    display: flex;
    flex-direction: column;
}

.personal label {
    display: block;
}

.personal {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.personal div {
    padding: 1rem;
}

.personal2 {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.personal2 > div {
    margin-right: 1rem;
}

.personal2 select {
    margin-left: 1rem;
}

.cuenta{
    display: flex;
    flex-direction: row;
}

.text-area {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 625px; height: 155px;
    resize: none;
}

input, textarea{
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.eleccion-aficiones{
    display: grid;
    flex-direction: repeat(3, 1fr);
    gap: 2rem;
}

.eleccion-aficiones div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}

.word {
    justify-content: end;
}

.div-error{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
